.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.content {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-color: #f7f7f7;
  font-size: 40px;
}

.tablero-de-turnos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 25px
}

.content.turn{
  border: 0;
  background-color: rgb(16, 105, 179);
  color: #f7f7f7;
  margin: 0;
}

.content.null {
  border: 0;
}

.reset-game {
  width: 75px;
  height: 50px;
  margin-bottom: 25px;
  background-color: transparent;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}
